Python:

Django==4.1
djangorestframework==3.14.0
djangorestframework_simplejwt==4.8.0
corsheaders
pillow

Javascript:

react
react-router-dom
boostrap
react-bootstrap
mdb-react-ui-kit
draft.js
draftjs-to-html
React Image Gallery
moment
axios

