.carousel-item {
    height:25rem;
    background: white;
    color: white;
    position: relative;

}

.container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.d-block {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin:auto;


    
}

#logo{
    margin:auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.699);

}

.c-text {
    background: rgba(0, 0, 0, 0.349);
    text-shadow: 0 1px 0 black;
}

.logo {
    background: rgba(255, 255, 255, 0.349);
    text-shadow: 0 1px 0 black;
    color: rgba(255, 255, 255, 0.158);
}
