@import '../variables/variables.scss';


.nav-linky {
    background-image: linear-gradient(
      to right,
      $logoblue,
      $logoblue 50%,
      rgb(7, 6, 6) 50%
    );
    background-size: 200% 100%;
    background-position: -100% !important;
    display: inline-block;
    padding: 5px 0;
    position: relative !important;
    -webkit-background-clip: text;
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-linky:before{
    content: '';
    background: $logoblue;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-linky:hover {
   background-position: 0;
  }
  
  .nav-linky:hover::before{
    width: 100%;
  }


  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}